body {
  background-color: #E4F9F5;
  font-family: 'Roboto', sans-serif;
}

.clouds {
  background-image: url("../images/clouds.gif");
  background-repeat: repeat;
  background-size: contain;
  height: 229px;
}

.intro {
  height: 700px;
  text-align: center;
  padding-top: 50px;
  margin: 0 auto;
  font-size: 3em;
  width: 500px;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 0 50px;
}

.col-1 {
  position: absolute;
  margin: 0 auto 0 0;
  width: auto;
}

.col-2 {
  position: relative;
  margin: 0 0 0 auto;
  width: 475px;
}

.me {
  height: auto;
  text-align: center;
  padding: 10px 100px;
  margin: 0 auto;
  width: 700px;
}

.work {
  margin: 50px auto;
  position: relative;
}

.work-row {
  height: auto;
  position: relative;
}

.workplace {
  position: relative;
  margin: 0 auto 10px 0;
}

.work-dates {
  color: #40514e;
  position: relative;
  padding: 0;
  margin: 0;
  text-align: left;
  font-style: italic;
}

.job-title {
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin-bottom: 10px;
}

.education {
  margin: 50px auto;
}
.contact {
  text-align: center;
  margin: 50px auto;
}

.footer{
  height: 100px;
  background-color: #11999e;

}

h1 {
  color: #11999e;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 7rem;
}

h2 {
  color: #11999e;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 3rem;
}

h3 {
  color: #11999e;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2rem;
}

h4 {
  color: #40514e;
  font-size: 1.25rem;
}

h5 {
  color: #40514e;
  font-size: 1.15rem;
}

p {
  color: #40514e;
}

hr {
  border-style: dotted none none none;
  border-color: #30e3ca;
  border-width: 5px;
  height: 1px;
  width: 10%;
  margin: 30px auto;
}


.duties {
  margin-top: 0;
  margin-left: 0;
  padding-left: 10px;
  text-align: left;
}

#skill-head {
  text-align: center;
  text-decoration: underline;
}

.skills {
  width: 300px;
  margin: 0 auto 0 auto;
}

.skill-table {
  width: auto;
  line-height: 25px;
  margin: 0 auto;

}

.headcol {
  width: 6cm;
  position: relative;
}

.logo {
  padding: 10px;
  margin: 0 auto;
}
