body {
  background-color: #E4F9F5;
  font-family: 'Roboto', sans-serif;
}

.clouds {
  background-image: url("../images/clouds.gif");
  background-repeat: repeat;
  background-size: contain;
  height: 229px;
}

.intro {
  /* height: 700px; */
  /* text-align: center; */
  /* padding: 50px 175px 0; */
  /* margin: 0 auto; */
  font-size: 3em;
  /* width: 500px; */
}

/* .container {
  width: 800px;
  margin: 0 auto;
  padding: 0 25px;
} */

/* .col-1 {
  position: absolute;
  margin: 0 auto 0 0;
  width: auto;
}

.col-2 {
  position: relative;
  margin: 0 0 0 auto;
  width: 475px;
} */

.me {
  height: auto;
  text-align: center;
  /* padding: 10px 75px;
  margin: 0 auto;
  width: 700px; */
}

/* .work {
  margin: 50px auto;
  position: relative;
}

.work-row {
  height: auto;
  position: relative;
} */

/* .workplace {
  position: relative;
  margin: 0 auto 10px 0;
} */

.work-dates {
  color: #40514e;
  position: relative;
  padding: 0;
  margin: 0;
  text-align: left;
  font-style: italic;
}

.job-title {
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin-bottom: 10px;
}

#education {
  margin: 50px auto;
}

#contact {
  text-align: center;
  margin: 50px auto;
}

.footer {
  height: 100px;
  background-color: #11999e;
}

h1 {
  color: #11999e;
  font-family: 'IBM Plex Sans', sans-serif;
  /* font-size: 7rem; */
}

h2 {
  color: #11999e;
  font-family: 'IBM Plex Sans', sans-serif;
  /* font-size: 3rem; */
}

h3 {
  color: #11999e;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 25px;
  /* font-size: 2rem; */
}

h4 {
  color: #40514e;
  /* font-size: 1.25rem; */
}

h5 {
  color: #40514e;
  /* font-size: 1.15rem; */
}

p {
  color: #40514e;
}

hr {
  border-style: dotted none none none;
  border-color: #30e3ca;
  background: none;
  border-width: 5px;
  height: 1px;
  width: 10%;
  margin: 30px auto;
}

label {
  font-family: 'Roboto', sans-serif;
  float: left;
  padding-right: 20px;
}

form {
  padding: 10px 20px;
  margin: 0 175px;
  width: 50%;
}

td > * {
  margin: auto 0;
}

td > h5 {
  margin-bottom: 0;
}

td > p {
  margin-top: 5px;
}

/* .duties {
  margin-top: 0;
  margin-left: 0;
  padding-left: 10px;
  text-align: left;
} */

#skill-head {
  text-align: center;
  text-decoration: underline;
}

#skills {
  width: 300px;
  margin: 0 auto 0 auto;
}

.skill-table {
  width: auto;
  line-height: 25px;
  margin: 0 auto;
}

.headcol {
  width: 6cm;
  position: relative;
}

.btn {
  background: #30E3CA;
  background-image: -webkit-linear-gradient(top, #30E3CA, #11999E);
  background-image: -moz-linear-gradient(top, #30E3CA, #11999E);
  background-image: -ms-linear-gradient(top, #30E3CA, #11999E);
  background-image: -o-linear-gradient(top, #30E3CA, #11999E);
  background-image: -webkit-gradient(to bottom, #30E3CA, #11999E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-style: hidden;
  color: #FFFFFF;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 30px;
  font-weight: 100;
  padding: 20px 35px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: ridge #13786A 1px;
  background: #11999E;
  background-image: -webkit-linear-gradient(top, #11999E, #1EB9A4);
  background-image: -moz-linear-gradient(top, #11999E, #1EB9A4);
  background-image: -ms-linear-gradient(top, #11999E, #1EB9A4);
  background-image: -o-linear-gradient(top, #11999E, #1EB9A4);
  background-image: -webkit-gradient(to bottom, #11999E, #1EB9A4);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
textarea{
  width: 400px;
  float: left;
}
input.btn {
  margin: 10px 5px;
  font-size: 22px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 7px 0 #000000;
  -moz-box-shadow: 1px 1px 7px 0 #000000;
  box-shadow: 1px 1px 7px 0 #000000;
  text-shadow: 1px 1px 7px #000000;
}

h1.center {
  margin-bottom: 10px;
}

.logo {
  padding: 3px;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.logo-cell {
  width: 140px;
}
.contact-me {
  padding: 0 100px;
  margin: 0 auto;
  text-align: center;
}

.center {
  text-align: center;
}
